*{
    margin: 0;
    padding: 0;
}

#head{
text-align: center;

}
.mainWork{
    text-align: center;
    color:tomato;
}
.img{
    height: 50%;
    width: 50%;
}
.fot{
    text-align: center;

    display: flex;
    text-decoration: none;
    background-color: salmon;
}
.fothad{
    text-align: center;
    padding-top: 50px;
    color: tomato;
    font-size: large;
    background-color: skyblue;
}
@media (max-width:992px){
    main{
        width: 1200px;
        max-width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:668px){
    main{
        width: 1200px;
        max-width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
    }
}